:root {
   --desaturated-red: hsl(0, 36%, 70%);
   --soft-red: hsl(0, 93%, 68%);
   --dark-grayish-red: hsl(0, 6%, 24%);
   --gradient-one-from: hsl(0, 0%, 100%);
   --gradient-one-to: hsl(0, 100%, 98%);   /* Linear, 135deg */
   --gradient-two-from: hsl(0, 80%, 86%);
   --gradient-two-to: hsl(0, 74%, 74%);    /* Linear, 135deg */
}

html {
   width: 100%;
   height: 100%;
}

body {
   font-family: 'Josefin Sans', sans-serif;
   height: 100vh;
   margin: 0;
}

.container {    /* Apenas para definir tamanhos */
   display: absolute;
   background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
   background-repeat: repeat;
}

.wallpaper-left {
   height: 250px;
   background-image: url('./images/hero-mobile.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.right {
   display: none;
}

.logo {
   height: 33px;
   width: 158px;
   margin: 40px 70px;
}

.model-mobile {
   width: 100%;
   max-height: 65%;
   object-fit: cover;
   object-position: -25px -30px;
}

/* Textos */
.texts {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 50px;
   padding-bottom: 15px;
   max-width: 100%;
}

.title-top {
   text-transform: uppercase;
   font-size: 60px;
   font-weight: 300;
   color: var(--desaturated-red);
   margin: 0;
   letter-spacing: 15px;
}

.title-bottom {
   margin: 0;
   text-transform: uppercase;
   font-size: 60px;
   font-weight: 400;
   color: var(--dark-grayish-red);
   letter-spacing: 15px;
   max-width: 52%;
}

.description {
   font-size: 15px;
   font-weight: 600;
   line-height: 24px;
   color: var(--desaturated-red);
   max-width: 28%;
}

.title-top,
.title-bottom,
.description {
   text-align: center;
   padding: 0px;
}

/* Formulário e botão */
.field-container {
   display: flex;
   justify-content: center;
}

.field {
   display: flex;
   flex-direction: row;
   border: solid 1px hsl(0, 80%, 86%);
   border-radius: 25px;
   justify-content: center;
   width: 410px;
   max-width: 52%;
   margin-bottom: 50px;
}

.email-field {
   font-family: 'Josefin Sans', sans-serif;
   background: transparent;
   border: none;
   margin-left: 30px;
}

input {
   outline: none;
   width: 100%;
   font-weight: 600;
   color: var(--dark-grayish-red);
}

input::placeholder {
   color: hsl(0, 80%, 86%);
}

.button {
   font-size: 35px;
   font-weight: 300;
   border-radius: 25px;
   padding: 7px 35px;
}

.highlight {
   color: white;
   background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.highlight:hover {
   cursor: pointer;
   color: white;
}

.highlight:active {
   background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
}

.warning-container {
   display: flex;
   justify-content: center;
}

.warning-hidden {
   display: none;
}

.warning-visible {
   color: hsl(0, 74%, 74%);
   font-size: 14px;
}

/* Modal */
.modal-container {
   display: none;
   z-index: 1;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   overflow: auto;
   justify-content: center;
}

.modal-position {
   display: flex;
   flex-direction: column;
   border-radius: 25px;
   align-items: center;
   position: absolute;
   top: 150px;
   height: 180px;
   width: 260px;
   color: white;
   background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
   animation-name: fade;
   animation-duration: 0.5s;
}

@keyframes fade {
   from {
      opacity: 0%;
   }

   to {
      opacity: 100%;
   }
}

.modal-header {
   width: 100%;
}

.modal-content {
   text-align: center;
}

span {
   display: block;
   text-align: right;
   font-size: 20px;
   padding-right: 15px;
   padding-top: 10px;
}

span:hover {
   cursor: pointer;
   color: var(--soft-red)
}

.thanks {
   text-align: center;
   font-size: 20px;
   color: white;
}

.modal-content {
   margin-bottom: 20px;
}

.confirm-modal:hover {
   cursor: pointer;
   color: var(--soft-red)
}

.blur {
   filter: blur(3px) brightness(60%);
   animation-name: blur-fade;
   animation-duration: 1s;
}

/* Media Queries */
@media (min-width: 769px) {

   .container {
      height: 100%;
      display: grid;
      grid-template-columns: 59% 41%;
      background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
      background-repeat: repeat;
   }

   .wallpaper-left {
      display: none;
   }

   .left {
      background-image: url('./images/bg-pattern-desktop.svg');
      background-size: cover;
   }

   .right {
      display: block;
   }

   .wallpaper-right {
      height: 100%;
      background-image: url('./images/hero-desktop.jpg');
      background-repeat: no-repeat;
      background-size: cover;
   }

   .logo {
      margin-left: 100px;
   }

   /* Textos Desktop */
   .texts {
      margin-left: 100px;
      align-items: start;
   }

   .title-bottom {
      max-width: 100%;
   }

   .description {
      box-sizing: border-box;
      max-width: 280px;
   }

   .title-top,
   .title-bottom,
   .description {
      text-align: left;
      width: 100%;
   }

   /* Formulário e botão Desktop */
   .field-container {
      justify-content: left;
      margin-right: 50px;
   }

   .field {
      max-width: 100%;
      margin-left: 100px;
   }

   .warning-container {
      justify-content: left;
      margin-left: 100px;
   }

   .warning-visible {
      margin-left: 30px;
   }

}